.container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease-in-out;

  .fileSelectorContainer {
    margin: 24px 16px 0px;
    border-radius: 6px;
    border: 1px dashed #221d1d;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .desc {
      direction: rtl;
      font-size: 10px;
      color: #8c8c8c;
      text-align: center;
    }
  }

  .wordTextContainer {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 8px;

    .titleContainer {
      direction: ltr;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 38px;

      .titleText {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
      }

      button {
        direction: rtl;
        background-color: #4caf50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 6px;
      }
    }
  }
}
